html, body{
    height: 100%;
    margin: 0%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* border: solid; */
    width: 800px;
    align-items: center;
    font-size: 20px;
}

.list-holder{
    width: 40%;
}

.list{
    list-style: none;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0%;
}

.text-with-tick{
    display: flex;
    align-items: center;
}

.delete-note-btn{
    font-size: 16px;
    border-radius: 50%;
    border-style: none;
    background-color: red;
}
.input-holder{
    width:100%;
    display:flex;
    justify-content: center;
}
#text-input{
    width:300px;
    height:20px;
    flex-wrap: wrap;
}

p{
    display: flex;
    flex-wrap: wrap;
}